body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    padding: 20px;
    max-width: 500px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container form label {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.form-container form input,
.form-container form select {
    margin-bottom: 20px;
    width: calc(100% - 22px); /* Width - padding */
    padding: 10px; /* Aumento del tamaño de fuente */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; /* Tamaño de fuente aumentado */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}