body {
    font-family: Arial, sans-serif;
}

#banner_vertical {
    text-align: center;
    color:white;
    width: 15%;
    background-color: #333;
    padding: 20px;
    margin-top: 20px;
    margin-left: 15px;
    float: left; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}
#banner_vertical .imagen {
    margin-bottom: 20px;
}

#banner_vertical img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.pagination li {
    margin: 0 0.5em;
}

.pagination a {
    color: #333;
    padding: 0.5em 1em;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: background-color 0.2s;
}

#banner_vertical .Usuario_y_Paginas {
    font-family: 'Segoe UI',sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: white; /* Cambia el color según tus preferencias */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px 0;

}
#banner_vertical button {
    display: block;
    width: 100%; 
    padding: 10px;
    margin: 5px auto;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#banner_vertical button:hover {
    background-color: #0056b3;
}

#Titulo_y_tabla {
    width: 70%;
    margin-top: 107px;
    margin-bottom: 20px;
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 10px;
    float: left; /* Agregado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}

h1 {
    width: 80%;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #007bff; 
    margin: 0 auto; 
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
}
h2 {
    width: 80%;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #007bff; 
    margin: 0 auto; 
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}
.table {
    width: 80%;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.table th,
.table td {
    padding: 12px 15px;
}

.table th {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
}

.table tr {
    border-bottom: 1px solid #dddddd;
}

.table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tr:last-of-type {
    border-bottom: 2px solid #f93e3e;
}

.table tr.active-row {
    font-weight: bold;
    color: #f93e3e;
}

.btn-delete {
    background-color: #f93e3e;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-delete:hover {
    background-color: #f81c1c;
}
.btn-crear,
.btn-filtrar,
.btn-ordenar,
.btn-refrescar,
.btn-modificar{
    background-color: #5aa4f7;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-crear:hover,
.btn-filtrar:hover,
.btn-ordenar:hover,
.btn-refrescar:hover,
.btn-modificar:hover {
    background-color: #0056b3;
}

.filtros-dropdown,
.orden-dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
}

.filtros-dropdown a,
.orden-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filtros-dropdown a:hover,
.orden-dropdown a:hover {
    background-color: #ddd;
}