body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: row;
  }

 .content {
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
    margin-left: 20px;
  }

  .form-image {
    position: relative;
    width: 450px;
    height: auto;
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible sin distorsionarse */
    border-radius: 4px; /* Añade bordes redondeados a la imagen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra suave a la imagen */
}

  label {
    display: block;
    margin-bottom: 3px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
  }

  input {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }

  button {
    background-color: #2196F3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
  }

  button:hover {
    background-color: #0d8ef1;
  }

 .register-button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .error-box {
    max-height: 70px; /* Ajusta este valor a la altura que desees */
    overflow-y: auto;
    border: 1px solid red;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  
  .form-content {
    flex: 1;
  }
  
  .error-box {
    flex: 1;
    margin-left: 20px;
  }

  .signup-box {
    background-color: #ffffff;
    border: none;
    padding: 10px; /* Reducimos el padding */
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  
  .signup-box h2 {
    margin: 0;
    color: #333333;
    font-size: 20px; /* Reducimos el tamaño de la fuente */
    font-weight: 700;
    padding-bottom: 5px; /* Reducimos el padding */
    border-bottom: 2px solid #333333;
    margin-bottom: 10px; /* Reducimos el margen */
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }